/*  Card css */

.carCard{
    width:300px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 8px;
}

.carCard img{
    width: 100%;
}

.carCardBookNow{
    font-weight: 600;
    cursor: pointer;
}
.carCardBookNow:hover{
    color: whitesmoke;
    background-color: #1976d2;

}